@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  width: 100%;
  color: #3B4043;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Noto Sans JP", 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  text-size-adjust: 100%;
  background-color: #F2EDE9; }

a {
  text-decoration: none;
  color: #3B4043;
  transition: .3s; }

a:hover {
  transition: 0.3s; }

img {
  width: 100%;
  vertical-align: bottom; }

ul {
  list-style: none; }

.l-container {
  margin: 0 auto;
  width: 980px;
  padding: 80px 120px;
  box-sizing: border-box; }

.l-header {
  width: 100%;
  height: 70px;
  transition: .3s;
  z-index: 3;
  align-items: center;
  position: fixed;
  padding: 0 30px;
  box-sizing: border-box; }
  .l-header.float-active {
    background-color: rgba(255, 255, 255, 0.5); }

.c-title {
  text-align: center;
  font-size: 30px; }

.c-menu {
  align-items: center;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif; }
  .c-menu__item {
    margin-right: 20px;
    color: #DAA520; }
    .c-menu__item:last-of-type {
      margin-right: 0; }
  .c-menu__link {
    color: #DAA520; }

.p-hero {
  background-image: url(../../../img/cafe.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  justify-content: center;
  align-items: center; }
  .p-hero__title {
    font-size: 38px;
    font-family: "Amatic SC", cursive;
    color: #F2EDE9; }

.p-header {
  justify-content: space-between; }
  .p-header__title {
    font-size: 38px;
    font-weight: 800;
    font-family: "Source Sans Pro", sans-serif;
    color: #DAA520; }
  .p-header__trigger {
    display: none; }
    @media screen and (max-width: 480px) {
      .p-header__trigger {
        display: inline-block; } }

.p-news {
  height: 60px;
  overflow: scroll;
  border-left: 5px solid #C08B63;
  width: 70%;
  margin: 0 auto;
  padding: 15px 20px;
  box-sizing: border-box; }

.u-flex {
  display: flex; }
